<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Webcam</title>
</head>

<body>
	
  <img id="image">
  <button id="test" onclick="recognize()">Test</button>

  <textarea id="answer"></textarea>

  <script>
    const image = document.getElementById('image');
    const answer = document.getElementById('answer');

    const USER_MESSAGE = encodeURIComponent("Describe the attached image.");

    const recognize = async () => {

      const r = await fetch(`/chat?${USER_MESSAGE}&use_webcam=true`);

      if (r.status == 200) {
        const json = await r.json();
        answer.value = json.answer;
        image.src = `data:image/jpeg;base64,${json.b64image}`;
      } else {
        answer.value = r.reason;
      }
    }
  </script>

</body>

</html>
